{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div id="link-container">
        <a href="https://qu.edu.sa" target="_blank" class="my-link" id="link-green">
            Go to QU website (open a new tab)
        </a>
        
        <a href="https://qu.edu.sa" class="my-link" id="link-grey">
            Go to QU website (open in the same page/tab)
        </a>

        <a href="https://qu.edu.sa" class="my-link" id="link-black">
            Go to QU website (open in the same page/tab)
        </a>
    </div>
</body>
</html>